* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    color: white;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background-color: #155c5c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    position: relative;
    font-size: 25px;
    color: #d893ef;
    text-decoration: none;
    font-weight: 600;


}
.logos {
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

.logo::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #155c5c;
    animation: showRight 1s ease forwards;
    animation-delay: .4s;
}

.navbar a {
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s
}
.navbar a:hover,
.navbar a.active {
    color: #00abf0;
}

/* inserted the background picture*/
.home {
    display: flex;
    background-image: url('Images/coverphoto.png');
    background-size: cover;
    background-position: center;
    align-items: center;
    height: 100vh;
    align-items: center;
    padding: 0 10%;
}
.home-content {
    max-width: 600px;
}

.home-content h1 {
    position: relative;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
}

.home-content h1::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #479696;
    animation: showRight 1s ease forwards;
    animation-delay: 1s;
}

.home-content h3 {
    position: relative;
    font-size: 32px;
    font-weight: 700;
    color: #081b29;
}

.home-content h3::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #479696;
    animation: showRight 1s ease forwards;
    animation-delay: 1.3s;
}

.home-content p {
    position: relative;
    font-size: 16px;
    margin: 20px 0 40px;
}
.home-content p::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #479696;
    animation: showRight 1s ease forwards;
    animation-delay: 1.6s;
}

.home-content .btn-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
    background: transparent;
}

.home-content .btn-box::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #479696;
    animation: showRight 1s ease forwards;
    animation-delay: 1.9s;
    z-index: 2;
}

.btn-box a {
    display: inline-flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 165px;
    height: 100%;
    background: #479696;
    border: 2px solid;
    border-radius: 8px;
    font-size: 19px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 5;
    overflow: hidden;
    transition: .5s;

}

.btn-box a:hover {
    color: #479696;
}

.btn-box a:nth-child(2) {
    background: transparent;
    color: #479696;
}

.btn-box a:nth-child(2):hover {
    color: #081b29;
}

.btn-box a:nth-child(2)::before {
    background: #00abf0;
} 

.btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #081b29;
    z-index: -1;
    transition: .5s;
}

.btn-box a:hover:before {
    width: 100%;
}

.home-sci {
    margin-bottom: 10px;
    justify-content: space-around;
}

.home-sci::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #479696;
    animation: showRight 1s ease forwards;
    animation-delay: 2.5s;
    z-index: 6;
}

.home-sci a {
    display: inline-flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background: transparent;
    border: 2px solid #851ca8;
    border-radius: 50%;
    font-size: 20px;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.home-sci a:hover {
    width: 80px;
    height: 80px;
    color: #479696;
}

.home-sci a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #081b29;
    z-index: -1;
    transition: .5s;
}

.home-sci a:hover:before {
    width: 100%;
}

.home-imgHover {
    position: absolute;
    top: 0;
    left: 30px;
    width: 45%;
    height: 100%;
    background: transparent;
    transition: 3s;
    animation: manipActiveHover .1s forwards;
    animation-delay: 4s;
    pointer-events: none;
    z-index: 1;
}

.home-imgHover:hover {
    background: #479696;
    opacity: .5;

}

.home-imgHover::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 150%;
    height: 100%;
    background: #479696;
    animation: showRight 1s ease forwards;
    animation-delay: 3s;
    z-index: 100;
}

/* kEYFRAMES ANIMATION*/
@keyframes showRight {
    100% {
        width: 0;
    }
}

@keyframes manipActiveHover {
    100% {
        pointer-events: auto;
    }
}

/*------About Section--------*/

.about {
    width: 100%;
    padding: 100px 8px;
    background-color: #479696;
}

.about img {
    margin-right: 300px;
    height: 700px;
    width: 400px;
}

.about-text {
    width: 550px;
}

.main {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-text h2 {
    color: black;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.about-text h5{
    color: black;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}

.about-text p {
    color: rgba(79, 41, 79, 0.8);
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}

/*---------- Service Section -----------------------*/

.service {
    background: #479696;
    width: 100%;
    padding: 100px 0px;
}

.title h2 {
    color: black;
    font-size: 75px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}

.card {
    height: 365px;
    width: 335px;
    padding: 20px 35px;
    background: #191919;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.card i {
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: #f9004d;
}

h5 {
    color: #cc77e9;
    font-size: 23px;
    margin-bottom: 15px;
}

.pra p {
    color: #fcfc;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}

.card .button {
    background-color: #f9004d;
    color: #191919;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    transition: .4s;
}

.card .button:hover {
    color: #f9004d;
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}

/*------------------- Contact Section ------------------*/
.contact-me {
    width: 100%;
    height: 290px;
    background: #479696;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.contact-me p {
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 15px;
}


/*--------------------------------------*/

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 15px 0;
}